<div class="card">
  <div class="card-img-top">
    <img src="{{current.weather_icons}}" alt="{{current.weather_description}}">
  </div>
  <div class="card-body">
    <h2 class="card-title">Location: {{location.name}}</h2>
    <p class="card-text">Country: {{location.country}}</p>
    <p class="card-text">type: {{request.type}}</p>

    <p class="card-text"><b>Time: {{current.observation_time}}</b></p>
    <p class="card-text"><b>Temperature: {{current.temperature}}</b></p>
    <ul class="list-group">
  </div>
</div>